
body {
    font: 13.34px helvetica, arial, clean, sans-serif;
    padding-top: 12px;
    padding-left: 12px;
}

h1, h2, h3 {
    font: 13.34px helvetica, arial, clean, sans-serif;
    font-weight: bold;
}

h1, h2 {
    font-size: 110%;
}

h1 {
    margin-bottom: 22px;
}

h2, h3 {
    margin-bottom: 1em;
}

a {
    color: #8085C1;
}

a:hover {
    color: #8085C1;
}

div.header h1 a {
    text-decoration: none;
    color: #a00;
}
div.header h1 a:hover {
    color: black;
}

div.footer {
    position: relative;
    border-top: 4px solid #eee;
    margin-top: 44px;
    color: #666;
}

div.footer p {
    margin-top: 6px;
    margin-bottom: 0;
}

div.footer p, div.footer p a {
    font-size: 10px;
}

div.footer p:first-child {
    margin-top: 1em;
}

div.footer div.links {
    position: absolute;
    top: 0;
    left: 175px;
    font-size: 10px;
}

div.header, div.content, div.footer {
    width: 455px;
}
