<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" media="screen" href="/styles.css"/>
    </head>
    <body>
      <div class="header">
        <h1><a href="http://www.defmacro.org">Slava Akhmechet</a></h1>
      </div>
      <div class="content">
        {{ content }}
      </div>
      <div class="footer">
        <div class="info">
          <p>Slava Akhmechet</p>
          <p>Cofounder of <a href="http://www.rethinkdb.com">RethinkDB</a></p>
          <p>coffeemug@gmail.com</p>
        </div>
        <div class="links">
          <p>a <a href="http://www.youtube.com/watch?v=8xKo6-xu6dc">&#955;</a></p>
          <p>b <a href="http://www.defmacro.org">defmacro.org</a></p>
          <p>c <a href="http://www.github.com/coffeemug">github.com/coffeemug</a></p>
        </div>
      </div>
    </body>
</html>
