<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" media="screen" href="/styles.css"/>
    </head>
    <body>
      <div class="footer">
        <h1>Slava Akhmechet</h1>
      </div>
      <div class="content">
        {{ content }}
      </div>
      <div class="footer">
        <div class="info">
          <p>footer goes here</p>
          <p>footer goes here</p>
          <p>footer goes here</p>
        </div>
        <div class="links">
          <p>footer goes here</p>
          <p>footer goes here</p>
          <p>footer goes here</p>
        </div>
      </div>
    </body>
</html>
